<div class="sections-wrapper"
    dragula="'sections-bag'"
    dragula-model='mainVM.page.sections'
    dragula-scope="mainVM.$scope"
    ng-class="{'empty-page': !mainVM.page.sections.length}"
>
  <div class="container-wrapper section-element"
      ng-repeat="section in mainVM.page.sections"
      ng-style="section.wrapper.style"
      highlight="{name:'section', type:'exactly'}" element-controls
      section-controls data-block-type="section"
  >
    <!-- inside section -->
    <table class="container section" ng-style="section.style"><tbody><tr><td>

      <table class="row"><tbody>
        <tr ng-include="'app/templates/parts/page/columns.template.html'"></tr>
      </tbody></table>

    </td></tr></tbody></table>
    <!-- /inside section -->
  </div>
</div>