<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Title</title>
<link rel="stylesheet" href="bower_components/angular-dragula/dist/dragula.css">
<style>
  *{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  body{
    background-color: #8e908c;
  }
  .table{
    border-spacing: 0;
    border-collapse: collapse;
  }
  .table-wrapper{
    width: 500px;
    float: left;
  }
  td{
    border: 1px solid pink;
  }
  .cell{
    min-height: 50px;
    min-width: 50px;
  }
  .playground{
    clear: both;
    overflow: hidden;
  }
  .palette{
    width: 200px;
    float: left;
  }
</style>
</head>
<body ng-app="app" ng-controller="MainCtrl">

<div class="playground">
  <div class="table-wrapper">
    <table class="table">
      <tbody>
      <tr ng-repeat="row in rows">
        <td ng-repeat="column in row.columns">
          <div class="cell"
              dragula='"elements-bag"'
              dragula-scope="$parent.$parent"
              dragula-model='column.elements'
          >
            <div class="element-wrapper"
                ng-repeat="element in column.elements"
            >
              <p>{{element.content}}</p>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="palette"
      dragula='"elements-bag"'
      dragula-model="templates"
      dragula-scope="$scope"
    >
    <div class="element-wrapper"
    ng-repeat="template in templates">
      <p>{{template.content}}</p>
    </div>
  </div>
</div>
<hr>
<pre>
  {{rows|json}}
</pre>

<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-dragula/dist/angular-dragula.js"></script>
<script>
  var app = angular.module('app',[angularDragula(angular)]);
  app.controller('MainCtrl',  ['$scope','$timeout','dragulaService', MainCtrl]);
  function MainCtrl($scope,$timeout,dragulaService){
    $scope.rows = [
      {
        columns:[
          {
            elements: [
              {
                content: 'A atque et facere laboriosam nam, ratione?'
              }
            ]
          },
          {
            elements: [
              {
                content: 'Commodi ipsa ipsam minus numquam porro quis similique.'
              }
            ]
          }
        ]
      },
      {
        columns:[
          {
            elements: [
              {
                content: 'A autem eveniet expedita illum in nam nulla officia, ratione!'
              }
            ]
          },
          {
            elements: [
              {
                content: 'A atque et facere laboriosam nam, ratione?'
              }
            ]
          }
        ]
      }
    ];
    $scope.templates = [{ content: 'Kittens are better than cats, right ?'}];
    dragulaService.options($scope,'elements-bag',{
      copy: function (el, source) {
        console.log(source);
        return $(source).hasClass('palette');
      }
    });
  }
</script>
</body>
</html>