<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width">
<title>Title</title>
<link rel="stylesheet" href="bower_components/tooltipster/css/tooltipster.css">
<link rel="stylesheet" href="bower_components/tooltipster/css/themes/tooltipster-light.css">
<link rel="stylesheet" href="bower_components/angular-dragula/dist/dragula.min.css">
<link rel="stylesheet" href="bower_components/spectrum/spectrum.css">
<link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="bower_components/sweetalert/dist/sweetalert.css">
<link rel="stylesheet" href="bower_components/remodal/dist/remodal.css">
<link rel="stylesheet" href="bower_components/remodal/dist/remodal-default-theme.css">
<!--<link rel="stylesheet" href="app/css/ink.css">-->
<link rel="stylesheet" href="app/css/app.css">
</head>
<body ng-class="{'is-previewing':mainVM.emailPreview}" ng-cloak ng-app="emailApp" ng-controller="MainController as mainVM">
<div class="app-body" ng-if="mainVM.page">
  <div class="toolbar">
    <p class="status" ng-if="mainVM.saving"><i class="fa fa-spinner fa-spin"></i> saving...</p>
    <button class="preview toolbar-button" ng-click="mainVM.preview();">{{ !mainVM.emailPreview ? 'Preview' : 'Close' }}</button>
    <button class="get-html toolbar-button" ng-click="mainVM.showHTML();">HTML</button>
  </div>
  <div class="email-builder">
    <page></page>
    <inspector></inspector>
  </div>
  <div class="email-preview">
    <iframe class="preview-iframe" id="preview" frameborder="0"></iframe>
  </div>
</div>

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/tinymce/tinymce.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script src="bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
<script src="bower_components/angular-dragula/dist/angular-dragula.min.js"></script>
<script src="bower_components/tooltipster/js/jquery.tooltipster.min.js"></script>
<script src="bower_components/store-js/store.min.js"></script>
<script src="bower_components/spectrum/spectrum.js"></script>
<script src="bower_components/sweetalert/dist/sweetalert.min.js"></script>
<script src="bower_components/sweetalert/dist/sweetalert.min.js"></script>
<script src="bower_components/remodal/dist/remodal.min.js"></script>
<script src="app/vendor/autoscroll.js"></script>

<script src="app/js/main.js"></script>
<script src="app/js/services/helpers.js"></script>
<script src="app/js/services/email-builder.js"></script>

<script src="app/js/directives/layout/page.directive.js"></script>
<script src="app/js/directives/layout/inspector.directive.js"></script>
<script src="app/js/directives/layout/page-element.directive.js"></script>
<script src="app/js/directives/layout/content-panel.directive.js"></script>

<script src="app/js/directives/helpers/element-controls.directive.js"></script>
<script src="app/js/directives/helpers/element-editable.directive.js"></script>
<script src="app/js/directives/helpers/highlight.directive.js"></script>
<script src="app/js/directives/helpers/color-picker.directive.js"></script>
<script src="app/js/directives/helpers/navigate-to.directive.js"></script>

<script src="app/js/directives/handlers/text.directive.js"></script>
<script src="app/js/directives/handlers/image.directive.js"></script>
<script src="app/js/directives/handlers/button.directive.js"></script>
<script src="app/js/directives/handlers/spacer.directive.js"></script>

<script src="app/js/directives/controls/section.directive.js"></script>
<script src="app/js/directives/controls/image.directive.js"></script>

<script src="app/js/directives/properties/page.directive.js"></script>
<script src="app/js/directives/properties/section.directive.js"></script>
<script src="app/js/directives/properties/column.directive.js"></script>
<script src="app/js/directives/properties/image.directive.js"></script>
<script src="app/js/directives/properties/button.directive.js"></script>
<script src="app/js/directives/properties/spacer.directive.js"></script>

</body>
</html>