i.mce-i-delete-element:before {
  content: "\f1f8";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: red;
}

i.mce-i-clone-element:before {
  content: "\f0c5";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}