.inspector{
  @include reset-margin-padding-etc;
  flex: none;
  width: 300px;
  padding: 0 15px;
  background: #f3f3f3;
  overflow-y: scroll;
  .tabs{
    @include reset-margin-padding-etc;
    list-style: none;
    overflow: hidden;
    li{
      float: left;
      a{
        text-transform: uppercase;
        font-size: 12px;
        display: inline-block;
        padding: 10px;
        background: lightgray;
        box-shadow: darkgray 0 -1px 0 inset;
        color: #0a0a0a;
        &.active{
          background: #f3f3f3;
          box-shadow: none;
        }
      }
    }
  }
}

.add-section,.add-elements{
  margin-top: 20px;
}

.template-handle{
  background-color: lightgray;
  margin-top: 10px;
  padding: 10px;
  display: inline-block;
  .gu-transit &{
    background: #3ae4e3;
    margin: 0;
    display: block;
  }
}

.template-wrapper{
  display: inline-block;
  margin-left: 10px;
  &.gu-transit{
    margin-left: 0;
    display: block;
    text-align: center;
    position: relative;
  }
}
.property{
  margin-bottom: 10px;
  margin-top: 10px;
  .small-input {
    width: 30px;
  }
}

///////// content tab
.debug-text-area{
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 100px;
}