.inspector{
  @include reset-margin-padding-etc;
  flex: 1;
  max-width: 30%;
  min-width: 300px;
  padding: 15px;
  background: #f3f3f3;
}

.inspector--heading-3{
  margin-top: 20px;
  font-size: 20px;
}
.template-handle{
  background-color: lightgray;
  margin-top: 10px;
  padding: 10px;
  display: inline-block;
  .gu-transit &{
    background: #3ae4e3;
    margin: 0;
    display: block;
  }
}

.template-wrapper{
  display: inline-block;
  margin-left: 10px;
  &.gu-transit{
    margin-left: 0;
    display: block;
    text-align: center;
  }
}
.property{
  margin-bottom: 10px;
  margin-top: 10px;
  .small-input {
    width: 30px;
  }
}