.app-body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.toolbar {
  height: 40px;
  flex: none;
  .status{
    @include reset-margin-padding-etc;
    color: green;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    margin-left: 20px;
  }
}
.email-builder{
  flex: 1;
  display: flex;
}

.img-hidden{
  visibility: hidden !important;
  //position: absolute;
}

@media only screen and (max-width: 600px) {
  .app-body {
    display: block;
  }
}


///////// vendor

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.gu-unselectable .tooltipster-base,
.no-tooltip .tooltipster-base{
  display: none;
}
.gu-transit{
  opacity: 1;
}
.gu-mirror{
  //opacity:.5;
}

.debug pre{
  height: 200px;
  overflow-y: scroll;
}