@mixin no-selection-no-drag {
  webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
  user-drag: none;
}
.app-body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  @include no-selection-no-drag;
  *{
    @include no-selection-no-drag;
  }

  *[contenteditable],
  *[contenteditable] *,
  input,
  textarea{
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text; }
}



.toolbar {
  height: 40px;
  flex: none;
  .status{
    @include reset-margin-padding-etc;
    color: green;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    margin-left: 20px;
  }
}
.email-builder{
  flex: 1;
  display: flex;
}

.img-hidden{
  visibility: hidden !important;
  //position: absolute;
}

@media only screen and (max-width: 600px) {
  .app-body {
    display: block;
  }
}


///////// vendor

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.gu-unselectable .tooltipster-base,
.no-tooltip .tooltipster-base{
  display: none;
}
.gu-transit{
  opacity: 1;
}
.gu-mirror{
  //opacity:.5;
}

.debug pre{
  height: 200px;
  overflow-y: scroll;
}