// page inners

.page-wrapper{
  flex: 1;
  position: relative;
  padding: 4px;
}
.page-inner{
  padding-top: 50px;
  padding-bottom: 50px;
}

.sections-wrapper{
  min-height: 20px;
}

.wrap-ink-container{
  padding-right: 50px;
  padding-left: 50px;
}
.empty-column{
  background-color: lightgray;
  position: relative;
  text-align: center;
  padding: 0 !important;
  &::before{
    content: "Drag a new element here!";
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    line-height: 50px;
  }
  &.large-4::before{
      font-size: 14px;
  }
  .column-cell-wrapper {
    height: 50px;
  }
  .column-cell {
    width: 100%;
    height: 0px;
    z-index: 1;
    position: relative;
  }
}

.element:after{
  content: '';
  display:block;
  clear: both;
}


// specific element type

.text-wrapper{
  min-height: 20px;
}

// max-width for images inside columns
//$widths:(1: 30, 2: 80, 3: 130, 4: 180, 5: 230, 6: 280, 7: 330, 8: 380, 9: 430, 10: 480, 11: 530, 12: 580);
//@each $i, $width in $widths {
//  @media only screen and (min-width: 596px) {
//    .large-#{$i} img {
//      max-width: #{$width}px;
//    }
//  }
//}
