@import "../../bower_components/angular-dragula/dist/dragula.min.css";
@import "ink";
*{
  margin:0;
  padding:0;
}
.app-wrapper{
  display: flex;
}
.page{
  position: relative;
  flex: 1;
}
.page-inner{
  padding-top: 50px;
  padding-bottom: 50px;
}
.inspector{
  flex: 1;
  max-width: 30%;
  min-width: 300px;
  padding: 15px;
  background: #eeeeee;

}
.property{
  margin-bottom: 10px;

  .small-input {
    width: 30px;
  }
}

.level-matches.highlight:hover{
  //background: #D6E5F2 !important;
  //border-color: #B0CCE3 !important;
}
.level-matches.highlight:active{
  //cursor: pointer;
  //background: #C5DAEC !important;
  //border-color: #96BAD9 !important;
}
//.level-matches.highlight::before{
//  position: absolute !important;
//  border: 3px solid #2eb2e4;
//  opacity: 1;
//  content: '';
//  display: block;
//  height: auto;
//  width: auto;
//  z-index: 0;
//}
//.highlight--inside::before{
//  top: 5px;
//  bottom: 5px;
//  right: 5px;
//  left: 5px;
//}
//.level-matches.highlight.highlight--exactly::before{
//  top: 0;
//  bottom: 0;
//  right: 0;
//  left: 0;
//}
//.level-matches.highlight.highlight--outside::before{
//  top: 0;
//  bottom: 0;
//  right: 0;
//  left: 0;
//}
//.gu-mirror,.column,.page,.section,.wrap-ink-container{
//  position: relative;
//}
//.gu-unselectable{
//  background-color: red;
//}
//.gu-transit{
//  background-color: purple;
//}
//.gu-mirror{
//  background-color: gold;
//}

$highlightShadow: 0 0 0 3px #2eb2e4;

.page{
  &.on-page{
    &.highlight--page{ box-shadow: $highlightShadow inset; }
  }
  &.on-page.on-section{
    &.highlight--page{ box-shadow: none; }
    .highlight--section{ box-shadow: $highlightShadow inset; }
  }
  &.on-page.on-section.on-column{
    &.highlight--page{ box-shadow: none; }
    .highlight--section{ box-shadow: none; }
    .highlight--column{ box-shadow: $highlightShadow inset; }
  }
  &.on-page.on-section.on-column.on-element{
    &.highlight--page{ box-shadow: none; }
    .highlight--section{ box-shadow: none; }
    .highlight--column{ box-shadow: none;  }
    .highlight--element{ box-shadow: $highlightShadow inset;  }
  }
}
.highlight--inside{

}
.highlight.highlight--exactly{
  //box-shadow: $highlightShadow inset;
}
.highlight.highlight--outside{

}
.gu-mirror,.column,.page,.section,.wrap-ink-container{
  position: relative;
}
