html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/*
  div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
  pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins,
  kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
  dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
  tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
  figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
  time, mark, audio, video
*/
.r {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/*
  // HTML5 display-role reset for older browsers
  article, aside, details, figcaption, figure, footer, header, hgroup, menu,
  nav, section
*/
.r-d {
  display: block; }

/*
  ol, ul
*/
.r-l {
  list-style: none; }

.r-blockquote {
  quotes: none; }
  .r-blockquote:before, .r-blockquote:after {
    content: "";
    content: none; }

.r-q {
  quotes: none; }
  .r-q:before, .r-q:after {
    content: "";
    content: none; }

.r-table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  line-height: 1; }

.app-wrapper {
  display: flex; }

.gu-transit {
  opacity: 1; }

.img-hidden {
  visibility: hidden !important; }

@media only screen and (max-width: 600px) {
  .app-wrapper {
    display: block; } }
.element:after {
  content: '';
  display: block;
  clear: both; }

.page {
  flex: 1;
  position: relative; }

.page-inner {
  padding-top: 50px;
  padding-bottom: 50px; }

.empty-column {
  background-color: lightgray;
  position: relative; }
  .empty-column::before {
    position: absolute;
    top: 50%;
    left: 50%;
    content: "*"; }

.one img {
  max-width: 30px; }

.two img {
  max-width: 80px; }

.three img {
  max-width: 130px; }

.four img {
  max-width: 180px; }

.five img {
  max-width: 230px; }

.six img {
  max-width: 280px; }

.seven img {
  max-width: 330px; }

.eight img {
  max-width: 380px; }

.nine img {
  max-width: 430px; }

.ten img {
  max-width: 480px; }

.eleven img {
  max-width: 530px; }

.twelve img {
  max-width: 580px; }

:not(.gu-unselectable) .on-page.highlight--page:not(.on-section):not(.on-column):not(.on-element) {
  box-shadow: 0 0 0 4px #3ae4e3 inset;
  z-index: 10; }
:not(.gu-unselectable) .on-section:not(.on-column):not(.on-element) .highlight--section {
  position: relative;
  box-shadow: 0 0 0 4px #3ae4e3;
  z-index: 10; }
:not(.gu-unselectable) .on-column:not(.on-element) .highlight--column {
  position: relative;
  box-shadow: 0 0 0 4px #3ae4e3;
  z-index: 10; }
:not(.gu-unselectable) .on-element .highlight--element {
  position: relative;
  box-shadow: 0 0 0 4px #3ae4e3 inset;
  z-index: 10; }
  :not(.gu-unselectable) .on-element .highlight--element.element-img {
    box-shadow: 0 0 0 4px #3ae4e3; }

.page.current-element {
  position: relative;
  box-shadow: 0 0 0 4px #e12de4 inset;
  z-index: 5; }

.current-element {
  position: relative;
  box-shadow: 0 0 0 4px #e12de4 inset;
  z-index: 5; }
  .current-element.element-img {
    box-shadow: 0 0 0 4px #e12de4; }

.paragraphe-element {
  min-height: 20px; }

i.mce-i-delete-element:before {
  content: "\f1f8";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: red; }

.inspector {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  flex: 1;
  max-width: 30%;
  min-width: 300px;
  padding: 15px;
  background: #eeeeee; }

.inspector--heading-3 {
  margin-top: 20px;
  font-size: 20px; }

.template-handle {
  background-color: lightgray;
  margin-top: 10px;
  padding: 10px;
  display: inline-block; }

.template-wrapper {
  display: inline-block;
  margin-left: 10px; }
  .template-wrapper.gu-transit {
    margin-left: 0; }

.property {
  margin-bottom: 10px;
  margin-top: 10px; }
  .property .small-input {
    width: 30px; }
