@import url(../../bower_components/angular-dragula/dist/dragula.min.css);
/**********************************************
* Ink v1.0.5 - Copyright 2013 ZURB Inc        *
**********************************************/
/* Client-specific Styles and Reset */
.email-builder-body {
  width: 100% !important;
  min-width: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0;
  padding: 0; }

/* todo: find a way to avoind puttin .gu-mirror here, because it adds more wright to this css file*/
.email-builder-body, .gu-mirror {
  /* .ExternalClass applies to Outlook.com (the artist formerly known as Hotmail)  */
  /* Responsive Grid */
  /* Block Grid */
  /* Alignment and Visibility Classes */
  /* Typography */
  /* Panels */
  /* Buttons */
  /* Outlook First */
  /*  Media Queries */ }
  .email-builder-body #outlook a, .gu-mirror #outlook a {
    padding: 0; }
  .email-builder-body .ExternalClass, .gu-mirror .ExternalClass {
    width: 100%; }
  .email-builder-body .ExternalClass,
  .email-builder-body .ExternalClass p,
  .email-builder-body .ExternalClass span,
  .email-builder-body .ExternalClass font,
  .email-builder-body .ExternalClass td,
  .email-builder-body .ExternalClass div, .gu-mirror .ExternalClass,
  .gu-mirror .ExternalClass p,
  .gu-mirror .ExternalClass span,
  .gu-mirror .ExternalClass font,
  .gu-mirror .ExternalClass td,
  .gu-mirror .ExternalClass div {
    line-height: 100%; }
  .email-builder-body #backgroundTable, .gu-mirror #backgroundTable {
    margin: 0;
    padding: 0;
    width: 100% !important;
    line-height: 100% !important; }
  .email-builder-body img, .gu-mirror img {
    outline: none;
    text-decoration: none;
    -ms-interpolation-mode: bicubic;
    width: auto;
    max-width: 100%;
    float: left;
    clear: both;
    display: block; }
  .email-builder-body center, .gu-mirror center {
    width: 100%;
    min-width: 580px; }
  .email-builder-body a img, .gu-mirror a img {
    border: none; }
  .email-builder-body p, .gu-mirror p {
    margin: 0 0 0 10px; }
  .email-builder-body table, .gu-mirror table {
    border-spacing: 0;
    border-collapse: collapse; }
  .email-builder-body td, .gu-mirror td {
    word-break: break-word;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    hyphens: none;
    border-collapse: collapse !important; }
  .email-builder-body table, .email-builder-body tr, .email-builder-body td, .gu-mirror table, .gu-mirror tr, .gu-mirror td {
    padding: 0;
    vertical-align: top;
    text-align: left; }
  .email-builder-body hr, .gu-mirror hr {
    color: #d9d9d9;
    background-color: #d9d9d9;
    height: 1px;
    border: none; }
  .email-builder-body table.body, .gu-mirror table.body {
    height: 100%;
    width: 100%; }
  .email-builder-body table.container, .gu-mirror table.container {
    width: 580px;
    margin: 0 auto;
    text-align: inherit; }
  .email-builder-body table.row, .gu-mirror table.row {
    padding: 0px;
    width: 100%;
    position: relative; }
  .email-builder-body table.container table.row, .gu-mirror table.container table.row {
    display: block; }
  .email-builder-body td.wrapper, .gu-mirror td.wrapper {
    padding: 10px 20px 0px 0px;
    position: relative; }
  .email-builder-body table.columns,
  .email-builder-body table.column, .gu-mirror table.columns,
  .gu-mirror table.column {
    margin: 0 auto; }
  .email-builder-body table.columns td,
  .email-builder-body table.column td, .gu-mirror table.columns td,
  .gu-mirror table.column td {
    padding: 0px 0px 10px; }
  .email-builder-body table.columns td.sub-columns,
  .email-builder-body table.column td.sub-columns,
  .email-builder-body table.columns td.sub-column,
  .email-builder-body table.column td.sub-column, .gu-mirror table.columns td.sub-columns,
  .gu-mirror table.column td.sub-columns,
  .gu-mirror table.columns td.sub-column,
  .gu-mirror table.column td.sub-column {
    padding-right: 10px; }
  .email-builder-body td.sub-column, .email-builder-body td.sub-columns, .gu-mirror td.sub-column, .gu-mirror td.sub-columns {
    min-width: 0px; }
  .email-builder-body table.row td.last,
  .email-builder-body table.container td.last, .gu-mirror table.row td.last,
  .gu-mirror table.container td.last {
    padding-right: 0px; }
  .email-builder-body table.one, .gu-mirror table.one {
    width: 30px; }
  .email-builder-body table.two, .gu-mirror table.two {
    width: 80px; }
  .email-builder-body table.three, .gu-mirror table.three {
    width: 130px; }
  .email-builder-body table.four, .gu-mirror table.four {
    width: 180px; }
  .email-builder-body table.five, .gu-mirror table.five {
    width: 230px; }
  .email-builder-body table.six, .gu-mirror table.six {
    width: 280px; }
  .email-builder-body table.seven, .gu-mirror table.seven {
    width: 330px; }
  .email-builder-body table.eight, .gu-mirror table.eight {
    width: 380px; }
  .email-builder-body table.nine, .gu-mirror table.nine {
    width: 430px; }
  .email-builder-body table.ten, .gu-mirror table.ten {
    width: 480px; }
  .email-builder-body table.eleven, .gu-mirror table.eleven {
    width: 530px; }
  .email-builder-body table.twelve, .gu-mirror table.twelve {
    width: 580px; }
  .email-builder-body table.one center, .gu-mirror table.one center {
    min-width: 30px; }
  .email-builder-body table.two center, .gu-mirror table.two center {
    min-width: 80px; }
  .email-builder-body table.three center, .gu-mirror table.three center {
    min-width: 130px; }
  .email-builder-body table.four center, .gu-mirror table.four center {
    min-width: 180px; }
  .email-builder-body table.five center, .gu-mirror table.five center {
    min-width: 230px; }
  .email-builder-body table.six center, .gu-mirror table.six center {
    min-width: 280px; }
  .email-builder-body table.seven center, .gu-mirror table.seven center {
    min-width: 330px; }
  .email-builder-body table.eight center, .gu-mirror table.eight center {
    min-width: 380px; }
  .email-builder-body table.nine center, .gu-mirror table.nine center {
    min-width: 430px; }
  .email-builder-body table.ten center, .gu-mirror table.ten center {
    min-width: 480px; }
  .email-builder-body table.eleven center, .gu-mirror table.eleven center {
    min-width: 530px; }
  .email-builder-body table.twelve center, .gu-mirror table.twelve center {
    min-width: 580px; }
  .email-builder-body table.one .panel center, .gu-mirror table.one .panel center {
    min-width: 10px; }
  .email-builder-body table.two .panel center, .gu-mirror table.two .panel center {
    min-width: 60px; }
  .email-builder-body table.three .panel center, .gu-mirror table.three .panel center {
    min-width: 110px; }
  .email-builder-body table.four .panel center, .gu-mirror table.four .panel center {
    min-width: 160px; }
  .email-builder-body table.five .panel center, .gu-mirror table.five .panel center {
    min-width: 210px; }
  .email-builder-body table.six .panel center, .gu-mirror table.six .panel center {
    min-width: 260px; }
  .email-builder-body table.seven .panel center, .gu-mirror table.seven .panel center {
    min-width: 310px; }
  .email-builder-body table.eight .panel center, .gu-mirror table.eight .panel center {
    min-width: 360px; }
  .email-builder-body table.nine .panel center, .gu-mirror table.nine .panel center {
    min-width: 410px; }
  .email-builder-body table.ten .panel center, .gu-mirror table.ten .panel center {
    min-width: 460px; }
  .email-builder-body table.eleven .panel center, .gu-mirror table.eleven .panel center {
    min-width: 510px; }
  .email-builder-body table.twelve .panel center, .gu-mirror table.twelve .panel center {
    min-width: 560px; }
  .email-builder-body .body .columns td.one,
  .email-builder-body .body .column td.one, .gu-mirror .body .columns td.one,
  .gu-mirror .body .column td.one {
    width: 8.333333%; }
  .email-builder-body .body .columns td.two,
  .email-builder-body .body .column td.two, .gu-mirror .body .columns td.two,
  .gu-mirror .body .column td.two {
    width: 16.666666%; }
  .email-builder-body .body .columns td.three,
  .email-builder-body .body .column td.three, .gu-mirror .body .columns td.three,
  .gu-mirror .body .column td.three {
    width: 25%; }
  .email-builder-body .body .columns td.four,
  .email-builder-body .body .column td.four, .gu-mirror .body .columns td.four,
  .gu-mirror .body .column td.four {
    width: 33.333333%; }
  .email-builder-body .body .columns td.five,
  .email-builder-body .body .column td.five, .gu-mirror .body .columns td.five,
  .gu-mirror .body .column td.five {
    width: 41.666666%; }
  .email-builder-body .body .columns td.six,
  .email-builder-body .body .column td.six, .gu-mirror .body .columns td.six,
  .gu-mirror .body .column td.six {
    width: 50%; }
  .email-builder-body .body .columns td.seven,
  .email-builder-body .body .column td.seven, .gu-mirror .body .columns td.seven,
  .gu-mirror .body .column td.seven {
    width: 58.333333%; }
  .email-builder-body .body .columns td.eight,
  .email-builder-body .body .column td.eight, .gu-mirror .body .columns td.eight,
  .gu-mirror .body .column td.eight {
    width: 66.666666%; }
  .email-builder-body .body .columns td.nine,
  .email-builder-body .body .column td.nine, .gu-mirror .body .columns td.nine,
  .gu-mirror .body .column td.nine {
    width: 75%; }
  .email-builder-body .body .columns td.ten,
  .email-builder-body .body .column td.ten, .gu-mirror .body .columns td.ten,
  .gu-mirror .body .column td.ten {
    width: 83.333333%; }
  .email-builder-body .body .columns td.eleven,
  .email-builder-body .body .column td.eleven, .gu-mirror .body .columns td.eleven,
  .gu-mirror .body .column td.eleven {
    width: 91.666666%; }
  .email-builder-body .body .columns td.twelve,
  .email-builder-body .body .column td.twelve, .gu-mirror .body .columns td.twelve,
  .gu-mirror .body .column td.twelve {
    width: 100%; }
  .email-builder-body td.offset-by-one, .gu-mirror td.offset-by-one {
    padding-left: 50px; }
  .email-builder-body td.offset-by-two, .gu-mirror td.offset-by-two {
    padding-left: 100px; }
  .email-builder-body td.offset-by-three, .gu-mirror td.offset-by-three {
    padding-left: 150px; }
  .email-builder-body td.offset-by-four, .gu-mirror td.offset-by-four {
    padding-left: 200px; }
  .email-builder-body td.offset-by-five, .gu-mirror td.offset-by-five {
    padding-left: 250px; }
  .email-builder-body td.offset-by-six, .gu-mirror td.offset-by-six {
    padding-left: 300px; }
  .email-builder-body td.offset-by-seven, .gu-mirror td.offset-by-seven {
    padding-left: 350px; }
  .email-builder-body td.offset-by-eight, .gu-mirror td.offset-by-eight {
    padding-left: 400px; }
  .email-builder-body td.offset-by-nine, .gu-mirror td.offset-by-nine {
    padding-left: 450px; }
  .email-builder-body td.offset-by-ten, .gu-mirror td.offset-by-ten {
    padding-left: 500px; }
  .email-builder-body td.offset-by-eleven, .gu-mirror td.offset-by-eleven {
    padding-left: 550px; }
  .email-builder-body td.expander, .gu-mirror td.expander {
    visibility: hidden;
    width: 0px;
    padding: 0 !important; }
  .email-builder-body table.columns .text-pad,
  .email-builder-body table.column .text-pad, .gu-mirror table.columns .text-pad,
  .gu-mirror table.column .text-pad {
    padding-left: 10px;
    padding-right: 10px; }
  .email-builder-body table.columns .left-text-pad,
  .email-builder-body table.columns .text-pad-left,
  .email-builder-body table.column .left-text-pad,
  .email-builder-body table.column .text-pad-left, .gu-mirror table.columns .left-text-pad,
  .gu-mirror table.columns .text-pad-left,
  .gu-mirror table.column .left-text-pad,
  .gu-mirror table.column .text-pad-left {
    padding-left: 10px; }
  .email-builder-body table.columns .right-text-pad,
  .email-builder-body table.columns .text-pad-right,
  .email-builder-body table.column .right-text-pad,
  .email-builder-body table.column .text-pad-right, .gu-mirror table.columns .right-text-pad,
  .gu-mirror table.columns .text-pad-right,
  .gu-mirror table.column .right-text-pad,
  .gu-mirror table.column .text-pad-right {
    padding-right: 10px; }
  .email-builder-body .block-grid, .gu-mirror .block-grid {
    width: 100%;
    max-width: 580px; }
  .email-builder-body .block-grid td, .gu-mirror .block-grid td {
    display: inline-block;
    padding: 10px; }
  .email-builder-body .two-up td, .gu-mirror .two-up td {
    width: 270px; }
  .email-builder-body .three-up td, .gu-mirror .three-up td {
    width: 173px; }
  .email-builder-body .four-up td, .gu-mirror .four-up td {
    width: 125px; }
  .email-builder-body .five-up td, .gu-mirror .five-up td {
    width: 96px; }
  .email-builder-body .six-up td, .gu-mirror .six-up td {
    width: 76px; }
  .email-builder-body .seven-up td, .gu-mirror .seven-up td {
    width: 62px; }
  .email-builder-body .eight-up td, .gu-mirror .eight-up td {
    width: 52px; }
  .email-builder-body table.center, .email-builder-body td.center, .gu-mirror table.center, .gu-mirror td.center {
    text-align: center; }
  .email-builder-body h1.center,
  .email-builder-body h2.center,
  .email-builder-body h3.center,
  .email-builder-body h4.center,
  .email-builder-body h5.center,
  .email-builder-body h6.center,
  .email-builder-body p.center, .gu-mirror h1.center,
  .gu-mirror h2.center,
  .gu-mirror h3.center,
  .gu-mirror h4.center,
  .gu-mirror h5.center,
  .gu-mirror h6.center,
  .gu-mirror p.center {
    text-align: center; }
  .email-builder-body span.center, .gu-mirror span.center {
    display: block;
    width: 100%;
    text-align: center; }
  .email-builder-body img.center, .gu-mirror img.center {
    margin: 0 auto;
    float: none; }
  .email-builder-body .show-for-small,
  .email-builder-body .hide-for-desktop, .gu-mirror .show-for-small,
  .gu-mirror .hide-for-desktop {
    display: none;
    width: 0;
    mso-hide: all;
    overflow: hidden; }
  .email-builder-body .show-for-small *,
  .email-builder-body .hide-for-desktop *, .gu-mirror .show-for-small *,
  .gu-mirror .hide-for-desktop * {
    mso-hide: all; }
  .email-builder-body body, .email-builder-body table.body, .email-builder-body h1, .email-builder-body h2, .email-builder-body h3, .email-builder-body h4, .email-builder-body h5, .email-builder-body h6, .email-builder-body p, .email-builder-body td, .gu-mirror body, .gu-mirror table.body, .gu-mirror h1, .gu-mirror h2, .gu-mirror h3, .gu-mirror h4, .gu-mirror h5, .gu-mirror h6, .gu-mirror p, .gu-mirror td {
    color: #222222;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    padding: 0;
    margin: 0;
    text-align: left;
    line-height: 1.3; }
  .email-builder-body h1, .email-builder-body h2, .email-builder-body h3, .email-builder-body h4, .email-builder-body h5, .email-builder-body h6, .gu-mirror h1, .gu-mirror h2, .gu-mirror h3, .gu-mirror h4, .gu-mirror h5, .gu-mirror h6 {
    word-break: normal; }
  .email-builder-body h1, .gu-mirror h1 {
    font-size: 40px; }
  .email-builder-body h2, .gu-mirror h2 {
    font-size: 36px; }
  .email-builder-body h3, .gu-mirror h3 {
    font-size: 32px; }
  .email-builder-body h4, .gu-mirror h4 {
    font-size: 28px; }
  .email-builder-body h5, .gu-mirror h5 {
    font-size: 24px; }
  .email-builder-body h6, .gu-mirror h6 {
    font-size: 20px; }
  .email-builder-body body, .email-builder-body table.body, .email-builder-body p, .email-builder-body td, .gu-mirror body, .gu-mirror table.body, .gu-mirror p, .gu-mirror td {
    font-size: 14px;
    line-height: 19px; }
  .email-builder-body p.lead, .email-builder-body p.lede, .email-builder-body p.leed, .gu-mirror p.lead, .gu-mirror p.lede, .gu-mirror p.leed {
    font-size: 18px;
    line-height: 21px; }
  .email-builder-body p, .gu-mirror p {
    margin-bottom: 10px; }
  .email-builder-body small, .gu-mirror small {
    font-size: 10px; }
  .email-builder-body a, .gu-mirror a {
    color: #2ba6cb;
    text-decoration: none; }
  .email-builder-body a:hover, .gu-mirror a:hover {
    color: #2795b6 !important; }
  .email-builder-body a:active, .gu-mirror a:active {
    color: #2795b6 !important; }
  .email-builder-body a:visited, .gu-mirror a:visited {
    color: #2ba6cb !important; }
  .email-builder-body h1 a,
  .email-builder-body h2 a,
  .email-builder-body h3 a,
  .email-builder-body h4 a,
  .email-builder-body h5 a,
  .email-builder-body h6 a, .gu-mirror h1 a,
  .gu-mirror h2 a,
  .gu-mirror h3 a,
  .gu-mirror h4 a,
  .gu-mirror h5 a,
  .gu-mirror h6 a {
    color: #2ba6cb; }
  .email-builder-body h1 a:active,
  .email-builder-body h2 a:active,
  .email-builder-body h3 a:active,
  .email-builder-body h4 a:active,
  .email-builder-body h5 a:active,
  .email-builder-body h6 a:active, .gu-mirror h1 a:active,
  .gu-mirror h2 a:active,
  .gu-mirror h3 a:active,
  .gu-mirror h4 a:active,
  .gu-mirror h5 a:active,
  .gu-mirror h6 a:active {
    color: #2ba6cb !important; }
  .email-builder-body h1 a:visited,
  .email-builder-body h2 a:visited,
  .email-builder-body h3 a:visited,
  .email-builder-body h4 a:visited,
  .email-builder-body h5 a:visited,
  .email-builder-body h6 a:visited, .gu-mirror h1 a:visited,
  .gu-mirror h2 a:visited,
  .gu-mirror h3 a:visited,
  .gu-mirror h4 a:visited,
  .gu-mirror h5 a:visited,
  .gu-mirror h6 a:visited {
    color: #2ba6cb !important; }
  .email-builder-body .panel, .gu-mirror .panel {
    background: #f2f2f2;
    border: 1px solid #d9d9d9;
    padding: 10px !important; }
  .email-builder-body .sub-grid table, .gu-mirror .sub-grid table {
    width: 100%; }
  .email-builder-body .sub-grid td.sub-columns, .gu-mirror .sub-grid td.sub-columns {
    padding-bottom: 0; }
  .email-builder-body table.button,
  .email-builder-body table.tiny-button,
  .email-builder-body table.small-button,
  .email-builder-body table.medium-button,
  .email-builder-body table.large-button, .gu-mirror table.button,
  .gu-mirror table.tiny-button,
  .gu-mirror table.small-button,
  .gu-mirror table.medium-button,
  .gu-mirror table.large-button {
    width: 100%;
    overflow: hidden; }
  .email-builder-body table.button td,
  .email-builder-body table.tiny-button td,
  .email-builder-body table.small-button td,
  .email-builder-body table.medium-button td,
  .email-builder-body table.large-button td, .gu-mirror table.button td,
  .gu-mirror table.tiny-button td,
  .gu-mirror table.small-button td,
  .gu-mirror table.medium-button td,
  .gu-mirror table.large-button td {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: block;
    width: auto !important;
    text-align: center;
    background: #2ba6cb;
    border: 1px solid #2284a1;
    color: #ffffff;
    padding: 8px 0;
    line-height: initial !important; }
  .email-builder-body table.tiny-button td, .gu-mirror table.tiny-button td {
    padding: 5px 0; }
  .email-builder-body table.small-button td, .gu-mirror table.small-button td {
    padding: 8px 0; }
  .email-builder-body table.medium-button td, .gu-mirror table.medium-button td {
    padding: 12px 0; }
  .email-builder-body table.large-button td, .gu-mirror table.large-button td {
    padding: 21px 0; }
  .email-builder-body table.button td a,
  .email-builder-body table.tiny-button td a,
  .email-builder-body table.small-button td a,
  .email-builder-body table.medium-button td a,
  .email-builder-body table.large-button td a, .gu-mirror table.button td a,
  .gu-mirror table.tiny-button td a,
  .gu-mirror table.small-button td a,
  .gu-mirror table.medium-button td a,
  .gu-mirror table.large-button td a {
    font-weight: bold;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    color: #ffffff;
    font-size: 16px;
    display: block;
    height: 100%;
    width: 100%; }
  .email-builder-body table.tiny-button td a, .gu-mirror table.tiny-button td a {
    font-size: 12px;
    font-weight: normal; }
  .email-builder-body table.small-button td a, .gu-mirror table.small-button td a {
    font-size: 16px; }
  .email-builder-body table.medium-button td a, .gu-mirror table.medium-button td a {
    font-size: 20px; }
  .email-builder-body table.large-button td a, .gu-mirror table.large-button td a {
    font-size: 24px; }
  .email-builder-body table.button:hover td,
  .email-builder-body table.button:visited td,
  .email-builder-body table.button:active td, .gu-mirror table.button:hover td,
  .gu-mirror table.button:visited td,
  .gu-mirror table.button:active td {
    background: #2795b6 !important; }
  .email-builder-body table.button:hover td a,
  .email-builder-body table.button:visited td a,
  .email-builder-body table.button:active td a, .gu-mirror table.button:hover td a,
  .gu-mirror table.button:visited td a,
  .gu-mirror table.button:active td a {
    color: #ffffff !important; }
  .email-builder-body table.button:hover td,
  .email-builder-body table.tiny-button:hover td,
  .email-builder-body table.small-button:hover td,
  .email-builder-body table.medium-button:hover td,
  .email-builder-body table.large-button:hover td, .gu-mirror table.button:hover td,
  .gu-mirror table.tiny-button:hover td,
  .gu-mirror table.small-button:hover td,
  .gu-mirror table.medium-button:hover td,
  .gu-mirror table.large-button:hover td {
    background: #2795b6 !important; }
  .email-builder-body table.button:hover td a,
  .email-builder-body table.button:active td a,
  .email-builder-body table.button td a:visited,
  .email-builder-body table.tiny-button:hover td a,
  .email-builder-body table.tiny-button:active td a,
  .email-builder-body table.tiny-button td a:visited,
  .email-builder-body table.small-button:hover td a,
  .email-builder-body table.small-button:active td a,
  .email-builder-body table.small-button td a:visited,
  .email-builder-body table.medium-button:hover td a,
  .email-builder-body table.medium-button:active td a,
  .email-builder-body table.medium-button td a:visited,
  .email-builder-body table.large-button:hover td a,
  .email-builder-body table.large-button:active td a,
  .email-builder-body table.large-button td a:visited, .gu-mirror table.button:hover td a,
  .gu-mirror table.button:active td a,
  .gu-mirror table.button td a:visited,
  .gu-mirror table.tiny-button:hover td a,
  .gu-mirror table.tiny-button:active td a,
  .gu-mirror table.tiny-button td a:visited,
  .gu-mirror table.small-button:hover td a,
  .gu-mirror table.small-button:active td a,
  .gu-mirror table.small-button td a:visited,
  .gu-mirror table.medium-button:hover td a,
  .gu-mirror table.medium-button:active td a,
  .gu-mirror table.medium-button td a:visited,
  .gu-mirror table.large-button:hover td a,
  .gu-mirror table.large-button:active td a,
  .gu-mirror table.large-button td a:visited {
    color: #ffffff !important; }
  .email-builder-body table.secondary td, .gu-mirror table.secondary td {
    background: #e9e9e9;
    border-color: #d0d0d0;
    color: #555555; }
  .email-builder-body table.secondary td a, .gu-mirror table.secondary td a {
    color: #555555; }
  .email-builder-body table.secondary:hover td, .gu-mirror table.secondary:hover td {
    background: #d0d0d0 !important;
    color: #555555; }
  .email-builder-body table.secondary:hover td a,
  .email-builder-body table.secondary td a:visited,
  .email-builder-body table.secondary:active td a, .gu-mirror table.secondary:hover td a,
  .gu-mirror table.secondary td a:visited,
  .gu-mirror table.secondary:active td a {
    color: #555555 !important; }
  .email-builder-body table.success td, .gu-mirror table.success td {
    background: #5da423;
    border-color: #457a1a; }
  .email-builder-body table.success:hover td, .gu-mirror table.success:hover td {
    background: #457a1a !important; }
  .email-builder-body table.alert td, .gu-mirror table.alert td {
    background: #c60f13;
    border-color: #970b0e; }
  .email-builder-body table.alert:hover td, .gu-mirror table.alert:hover td {
    background: #970b0e !important; }
  .email-builder-body table.radius td, .gu-mirror table.radius td {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }
  .email-builder-body table.round td, .gu-mirror table.round td {
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px; }
  .email-builder-body body.outlook p, .gu-mirror body.outlook p {
    display: inline !important; }

@media only screen and (max-width: 600px) {
  .email-builder-body table[class="body"] img {
    max-height: auto !important; }
  .email-builder-body table[class="body"] center {
    min-width: 0 !important; }
  .email-builder-body table[class="body"] .container {
    width: 95% !important; }
  .email-builder-body table[class="body"] .row {
    width: 100% !important;
    display: block !important; }
  .email-builder-body table[class="body"] .wrapper {
    display: block !important;
    padding-right: 0 !important; }
  .email-builder-body table[class="body"] .columns,
  .email-builder-body table[class="body"] .column {
    table-layout: fixed !important;
    float: none !important;
    width: 100% !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    display: block !important; }
  .email-builder-body table[class="body"] .wrapper.first .columns,
  .email-builder-body table[class="body"] .wrapper.first .column {
    display: table !important; }
  .email-builder-body table[class="body"] table.columns td,
  .email-builder-body table[class="body"] table.column td {
    width: 100% !important; }
  .email-builder-body table[class="body"] .columns td.one,
  .email-builder-body table[class="body"] .column td.one {
    width: 8.333333% !important; }
  .email-builder-body table[class="body"] .columns td.two,
  .email-builder-body table[class="body"] .column td.two {
    width: 16.666666% !important; }
  .email-builder-body table[class="body"] .columns td.three,
  .email-builder-body table[class="body"] .column td.three {
    width: 25% !important; }
  .email-builder-body table[class="body"] .columns td.four,
  .email-builder-body table[class="body"] .column td.four {
    width: 33.333333% !important; }
  .email-builder-body table[class="body"] .columns td.five,
  .email-builder-body table[class="body"] .column td.five {
    width: 41.666666% !important; }
  .email-builder-body table[class="body"] .columns td.six,
  .email-builder-body table[class="body"] .column td.six {
    width: 50% !important; }
  .email-builder-body table[class="body"] .columns td.seven,
  .email-builder-body table[class="body"] .column td.seven {
    width: 58.333333% !important; }
  .email-builder-body table[class="body"] .columns td.eight,
  .email-builder-body table[class="body"] .column td.eight {
    width: 66.666666% !important; }
  .email-builder-body table[class="body"] .columns td.nine,
  .email-builder-body table[class="body"] .column td.nine {
    width: 75% !important; }
  .email-builder-body table[class="body"] .columns td.ten,
  .email-builder-body table[class="body"] .column td.ten {
    width: 83.333333% !important; }
  .email-builder-body table[class="body"] .columns td.eleven,
  .email-builder-body table[class="body"] .column td.eleven {
    width: 91.666666% !important; }
  .email-builder-body table[class="body"] .columns td.twelve,
  .email-builder-body table[class="body"] .column td.twelve {
    width: 100% !important; }
  .email-builder-body table[class="body"] td.offset-by-one,
  .email-builder-body table[class="body"] td.offset-by-two,
  .email-builder-body table[class="body"] td.offset-by-three,
  .email-builder-body table[class="body"] td.offset-by-four,
  .email-builder-body table[class="body"] td.offset-by-five,
  .email-builder-body table[class="body"] td.offset-by-six,
  .email-builder-body table[class="body"] td.offset-by-seven,
  .email-builder-body table[class="body"] td.offset-by-eight,
  .email-builder-body table[class="body"] td.offset-by-nine,
  .email-builder-body table[class="body"] td.offset-by-ten,
  .email-builder-body table[class="body"] td.offset-by-eleven {
    padding-left: 0 !important; }
  .email-builder-body table[class="body"] table.columns td.expander {
    width: 1px !important; }
  .email-builder-body table[class="body"] .right-text-pad,
  .email-builder-body table[class="body"] .text-pad-right {
    padding-left: 10px !important; }
  .email-builder-body table[class="body"] .left-text-pad,
  .email-builder-body table[class="body"] .text-pad-left {
    padding-right: 10px !important; }
  .email-builder-body table[class="body"] .hide-for-small,
  .email-builder-body table[class="body"] .show-for-desktop {
    display: none !important; }
  .email-builder-body table[class="body"] .show-for-small,
  .email-builder-body table[class="body"] .hide-for-desktop {
    display: block !important;
    width: auto !important;
    overflow: visible !important; } }
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

.resetable div, .resetable span, .resetable applet, .resetable object, .resetable iframe, .resetable h1, .resetable h2, .resetable h3, .resetable h4, .resetable h5, .resetable h6, .resetable p, .resetable blockquote,
.resetable pre, .resetable a, .resetable abbr, .resetable acronym, .resetable address, .resetable big, .resetable cite, .resetable code, .resetable del, .resetable dfn, .resetable em, .resetable img, .resetable ins,
.resetable kbd, .resetable q, .resetable s, .resetable samp, .resetable small, .resetable strike, .resetable strong, .resetable sub, .resetable sup, .resetable tt, .resetable var, .resetable b, .resetable u, .resetable i, .resetable center,
.resetable dl, .resetable dt, .resetable dd, .resetable ol, .resetable ul, .resetable li, .resetable fieldset, .resetable form, .resetable label, .resetable legend, .resetable table, .resetable caption, .resetable tbody,
.resetable tfoot, .resetable thead, .resetable tr, .resetable th, .resetable td, .resetable article, .resetable aside, .resetable canvas, .resetable details, .resetable embed, .resetable figure,
.resetable figcaption, .resetable footer, .resetable header, .resetable hgroup, .resetable menu, .resetable nav, .resetable output, .resetable ruby, .resetable section, .resetable summary,
.resetable time, .resetable mark, .resetable audio, .resetable video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }
.resetable article, .resetable aside, .resetable details, .resetable figcaption, .resetable figure, .resetable footer, .resetable header, .resetable hgroup, .resetable menu,
.resetable nav, .resetable section {
  display: block; }
.resetable ol, .resetable ul {
  list-style: none; }
.resetable blockquote, .resetable q {
  quotes: none; }
.resetable blockquote:before, .resetable blockquote:after {
  content: "";
  content: none; }
.resetable q:before, .resetable q:after {
  content: "";
  content: none; }
.resetable table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  line-height: 1; }

.app-wrapper {
  display: flex; }

.element {
  overflow: hidden; }

.page {
  flex: 1;
  position: relative; }

.page-inner {
  padding-top: 50px;
  padding-bottom: 50px; }

.empty-column {
  background-color: lightgray;
  position: relative; }
  .empty-column::before {
    position: absolute;
    top: 50%;
    left: 50%;
    content: "*"; }

.one img {
  max-width: 30px; }

.two img {
  max-width: 80px; }

.three img {
  max-width: 130px; }

.four img {
  max-width: 180px; }

.five img {
  max-width: 230px; }

.six img {
  max-width: 280px; }

.seven img {
  max-width: 330px; }

.eight img {
  max-width: 380px; }

.nine img {
  max-width: 430px; }

.ten img {
  max-width: 480px; }

.eleven img {
  max-width: 530px; }

.twelve img {
  max-width: 580px; }

.inspector {
  flex: 1;
  max-width: 30%;
  min-width: 300px;
  padding: 15px;
  background: #eeeeee; }

.template-handle {
  background-color: lightgray;
  padding: 10px;
  display: inline-block; }

.template-wrapper {
  display: inline-block;
  margin-left: 10px; }

.property {
  margin-bottom: 10px; }
  .property .small-input {
    width: 30px; }

.gu-transit {
  opacity: 1; }

:not(.gu-unselectable) .on-page.highlight--page:not(.on-section):not(.on-column):not(.on-element) {
  box-shadow: 0 0 0 4px #3ae4e3 inset; }
:not(.gu-unselectable) .on-section:not(.on-column):not(.on-element) .highlight--section,
:not(.gu-unselectable) .on-column:not(.on-element) .highlight--column,
:not(.gu-unselectable) .on-element .highlight--element {
  box-shadow: 0 0 0 4px #3ae4e3; }

.page.current-element {
  box-shadow: 0 0 0 4px #e12de4 inset; }

.current-element {
  box-shadow: 0 0 0 4px #e12de4; }

.img-hidden {
  visibility: hidden !important; }

.paragraphe-element {
  min-height: 20px; }

.inspector--heading-3 {
  margin-top: 20px;
  font-size: 20px; }
