@import "../../bower_components/angular-dragula/dist/dragula.min.css";
@import "ink";
*{
  margin:0;
  padding:0;
}
.app-wrapper{
  display: flex;
}
.element{
  overflow: hidden;
}
.page{
  position: relative;
  flex: 1;
}
.page-inner{
  padding-top: 50px;
  padding-bottom: 50px;
}
.empty-column{
  background-color: lightgray;
  position: relative;
  &::before{
    position: absolute;
    top: 50%;
    left: 50%;
    content: "*";
  }

}
.atj-passing{
  background-color: gold;
}

.inspector{
  flex: 1;
  max-width: 30%;
  min-width: 300px;
  padding: 15px;
  background: #eeeeee;
}
.template-handle{
  background-color: lightgray;
  padding: 10px;
  display: inline-block;
}
.template-wrapper{
  display: inline-block;
  margin-left: 10px;
}
.property{
  margin-bottom: 10px;

  .small-input {
    width: 30px;
  }
}

//.gu-mirror,.column,.page,.section,.wrap-ink-container{
//  position: relative;
//}
//.gu-unselectable{
//  background-color: red;
//}
.gu-transit{
  opacity: 1;
}
.gu-mirror{
  //opacity:.5;
}

$highlightShadow: 0 0 0 3px #2eb2e4;

.page{
  &.on-page{
    &.highlight--page{ box-shadow: $highlightShadow inset; }
  }
  &.on-page.on-section{
    &.highlight--page{ box-shadow: none; }
    .highlight--section{ box-shadow: $highlightShadow inset; }
  }
  &.on-page.on-section.on-column{
    &.highlight--page{ box-shadow: none; }
    .highlight--section{ box-shadow: none; }
    .highlight--column{ box-shadow: $highlightShadow inset; }
  }
  &.on-page.on-section.on-column.on-element{
    &.highlight--page{ box-shadow: none; }
    .highlight--section{ box-shadow: none; }
    .highlight--column{ box-shadow: none;  }
    .highlight--element{ box-shadow: $highlightShadow;  }
  }
}
.highlight--inside{

}
.highlight.highlight--exactly{
  //box-shadow: $highlightShadow inset;
}
.highlight.highlight--outside{

}

.img-hidden{
  visibility: hidden !important;
  //position: absolute;
}

.wrap-ink-container{
  margin: 10px;
}
.golden{
  background-color: gold;
}
/*
.ng-scope{
  margin: 10px;
  padding: 10px;
  background-color: pink;
  .ng-scope{
    background-color: orange;

    .ng-scope{
      background-color: red;
      .ng-scope{
        background-color: blue;
        .ng-scope{
          background-color: green;
          .ng-scope{
            background-color: gold;
            .ng-scope{
              background-color: white;
              .ng-scope{
                background-color: gray;
                .ng-scope{
                  background-color: darkgray;
                  .ng-scope{
                    background-color: deeppink;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}*/
