<div class="properties-panel-inner">
  <h5>Breadcrumb</h5>
  <div class="breadcrumb">
    <ul>
      <li ng-if="pageVM.breadcrumb.page" class="navigation-link" navigate-to="page">page</li>
      <li ng-if="pageVM.breadcrumb.section" class="navigation-link" navigate-to="section">section</li>
      <li ng-if="pageVM.breadcrumb.column" class="navigation-link" navigate-to="column">column</li>
      <li ng-if="pageVM.breadcrumb.element" class="navigation-link" navigate-to="element">element</li>
    </ul>
  </div>
  <div ng-if="pageVM.currentElement" class="properties">
    <div class="specific-properties">
      <div ng-if="pageVM.currentElement.type==='page'">
        <page-properties element="pageVM.currentElement" compute="inspctVM.compute"></page-properties>
      </div>
      <div ng-if="pageVM.currentElement.type==='section'">
        <section-properties element="pageVM.currentElement" compute="inspctVM.compute"></section-properties>
      </div>
      <div ng-if="pageVM.currentElement.type==='column'">
        <column-properties element="pageVM.currentElement" compute="inspctVM.compute"></column-properties>
      </div>

      <div ng-if="pageVM.currentElement.type==='image'">
        <image-properties element="pageVM.currentElement" compute="inspctVM.compute"></image-properties>
      </div>
      <div ng-if="pageVM.currentElement.type==='button'">
        <button-properties element="pageVM.currentElement" compute="inspctVM.compute"></button-properties>
      </div>
      <div ng-if="pageVM.currentElement.type==='spacer'">
        <spacer-properties element="mainVM.currentElement" compute="inspctVM.compute"></spacer-properties>
      </div>
    </div>
    <div class="common-properties">
      <div ng-if="inspctVM.hasProperty(pageVM.currentElement.type,'padding')">
        <padding-property element="pageVM.currentElement" compute="inspctVM.compute"></padding-property>
      </div>
    </div>
  </div>
</div>