<td class="wrapper column-wrapper" highlight="{name:'column', type:'exactly'}"
    ng-repeat="column in section.columns"
    ng-style="column.wrapper.style"
    ng-class="{'empty-column': !column.elements.length, 'last': $index === section.columns.length-1}"
>
  <!-- cell's inside -->
  <table class="{{column['grid-width']}} columns"> <tr>
    <td class="column"
        ng-style="column.style" dragula="'elements-bag'"
        dragula-model='column.elements'
        dragula-scope="mainVM.$scope"
        ng-include="'app/templates/parts/elements.template.html'"
    ></td>
    <td class="expander"></td>
  </tr> </table>
  <!-- /cell's inside -->
  <!-- todo: place placeholder here -->
</td>
