<div class="sections-wrapper"
    dragula="'sections-bag'"
    dragula-model='page.sections'
    dragula-scope="mainVM.$scope"
>
  <div class="wrap-ink-container" highlight="{name:'section', type:'exactly'}"
      ng-repeat="section in page.sections"
  >
    <!-- inside section -->
    <table class="container section">
      <tr><td> <table class="row" ng-style="section.style">
        <tr ng-include="'app/templates/parts/columns.template.html'"></tr>
      </table> </td> </tr>
    </table>
    <!-- /inside section -->
  </div>
</div>