<p class="property border">
  <strong>Border</strong><br>
  <label>top <input type="text" class="small-input" ng-model="style['border-top-width']"></label>
  <label>bottom <input type="text" class="small-input" ng-model="style['border-bottom-width']"></label>
  <label>left <input type="text" class="small-input" ng-model="style['border-left-width']"></label>
  <label>right <input type="text" class="small-input" ng-model="style['border-right-width']"></label>
  <br>
  <label>color <input type="text" ng-model="style['border-color']"></label>
  <br>
  <label>style <input type="text" ng-model="style['border-style']"></label>
</p>