<div class="button-properties">
  <h5>Button properties</h5>
  <p class="property url">
    <label>
      Url <input type="text" ng-model="button.url">
    </label>
  </p>
  <p class="property expanded">
    <label>
      Expanded <input type="checkbox" ng-model="button.expanded">
    </label>
  </p>
  <div class="property alignment" ng-if="button.expanded">
    <p>Alignment</p>
    <label>Left <input type="radio" ng-model="button.alignment" name="alignment" value="left"></label>
    <label>Center <input type="radio" ng-model="button.alignment" name="alignment" value="center" checked></label>
    <label>Right <input type="radio" ng-model="button.alignment" name="alignment" value="right"></label>
  </div>
  <p class="property sizing">
    <label>
      Sizing
      <select ng-model="button.sizing">
        <option value="tiny">Tiny</option>
        <option value="small">Small</option>
        <option value="default" selected>Default</option>
        <option value="large ">Large </option>
      </select>
    </label>
  </p>
  <p class="property coloring">
    <label>
      Coloring
      <select ng-model="button.coloring">
        <option value="warning" selected>Default</option>
        <option value="secondary">Secondary</option>
        <option value="success">Success</option>
        <option value="alert ">Alert</option>
      </select>
    </label>
  </p>
</div>