<div class="image-properties">
  <h4>Image properties</h4>
  <div class="property src">
    <label>
      Source <input type="text" ng-model="image.src">
    </label>
  </div>
  <div class="property link">
    <label>
      Link <input type="text" ng-model="image.link">
    </label>
  </div>
  <div class="property alignment">
    <p>Alignment</p>
    <label>Left <input type="radio" ng-model="image.alignment" name="alignment" value="left" checked></label>
    <label>Center <input type="radio" ng-model="image.alignment" name="alignment" value="center"></label>
    <label>Right <input type="radio" ng-model="image.alignment" name="alignment" value="right"></label>
  </div>
</div>