<div class="padding-property">
  <h5>Padding</h5>
  <div class="value-field"><label><i class="fa fa-arrow-up"></i><input type="text" class="small-input" ng-model="style['padding-top']"></label></div>
  <div class="value-field"><label><i class="fa fa-arrow-down"></i><input type="text" class="small-input" ng-model="style['padding-bottom']"></label></div>
  <div class="value-field"><label><i class="fa fa-arrow-left"></i><input type="text" class="small-input" ng-model="style['padding-left']"></label></div>
  <div class="value-field"><label><i class="fa fa-arrow-right"></i><input type="text" class="small-input" ng-model="style['padding-right']"></label></div>
</div>