<div class="section-properties">
  <h5>Section properties</h5>
  <p class="property expanded">
    <label> Background Color
      <input type="text" ng-model="section.wrapper.style['background-color']"> </label>
  </p>
  <p class="property expanded">
    <label> Background Image
      <input type="text" ng-model="section.wrapper.rawStyle['background-image']"> </label>
  </p>
  <p class="property expanded">
    <label> Section Content Background
      <input type="text" ng-model="section.style['background-color']"> </label>
  </p>

</div>