<div class="section-properties">
  <h5>Section properties</h5>
  <p class="property section-background-color">
    <label>Background Color
      <input type="text" ng-model="section.wrapper.style['background-color']"> </label>
  </p>
  <p class="property section-background-image">
    <label>Background Image
      <input type="text" ng-model="section.wrapper.rawStyle['background-image']">
    </label>
  </p>
  <h5>Section Content properties</h5>
  <p class="property section-content-background-color">
    <label>Background Color
      <input type="text" ng-model="section.style['background-color']"> </label>
  </p>
  <p class="property section-content-background-image">
    <label>Background Image
      <input type="text" ng-model="section.rawStyle['background-image']">
    </label>
  </p>
</div>