.controls{
  position: absolute;
  top: 0;
  right: 0;
  background: #2199e8;
}
.controls-list{
  padding: 0;
  margin: 0;
  list-style: none;
  li{
    display: inline-block;
  }
}
a, a:visited, a:active{
  &.element-control{
    color: white;
  }
}

.element-control{
  height: 30px;
  line-height: 30px;
  font-size: 20px;
  width: 30px;
  display: block;
  text-align: center;

  &:hover{
    background: darken(#2199e8,20);
  }


  &.remove:hover{
    background: darkred;
  }
}