.controls{
  position: absolute;
  top: 0;
  left: 0;
  background: #2199e8;
  padding: 3px 7px;
}
.controls-list{
  list-style: none;
  li{
    display: inline-block;
  }
  li:not(:first-child){
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid #888888;

  }
}
a, a:visited, a:active{
  &.element-control{
    color: white;
  }
}

.element-control{
  font-size: 16px;
  &.remove{
    color: red;
  }
}