.inspector{
  @include reset-margin-padding-etc;

  flex: none;
  width: 300px;
  background: #f3f3f3;
  overflow-y: scroll;
  .tabs{
    @include reset-margin-padding-etc;
    list-style: none;
    overflow: hidden;
    li{
      float: left;
      a{
        text-transform: uppercase;
        font-size: 12px;
        display: inline-block;
        padding: 10px;
        background: lightgray;
        box-shadow: darkgray 0 -1px 0 inset;
        color: #0a0a0a;
        &.active{
          background: #f3f3f3;
          box-shadow: none;
        }
      }
    }
  }
}
.inspector-panel{
  padding: 0 15px;
}

.navigation-link{
  display: inline-block;
  color: #2199e8;
  cursor: pointer;
  &:not(:first-child)::before{
    content:'>';
    margin-right: 5px;
  }
}
.navigation-link.active{
  color: inherit;
  cursor: default;
}

.add-section,.add-elements{
  margin-top: 20px;
  clear: both;
}


.template-handle{
  text-align: center;
  background-color: lightgray;
  padding: 5px;
  .gu-transit &{
    background: #3ae4e3;
    margin: 0;
    display: block;
    padding: 0;
  }
  .gu-transit.element-template &{
    height: 50px;
    line-height: 50px;
  }
  .gu-transit & .icon{
    display: none;
  }
  &:hover{
    -webkit-box-shadow: 0 6px 10px rgba(0,0,0,.35);
    -moz-box-shadow: 0 6px 10px rgba(0,0,0,.35);
    box-shadow: 0 6px 10px rgba(0,0,0,.35);
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    border-color: #fff
  }
}

.template-wrapper{
  .new-elements &{
    float: left;
    width: 33.33%;
    padding: 3px;
  }
  &.gu-transit{
    margin-left: 0;
    display: block;
    text-align: center;
    position: relative;
    float: none;
  }
}
.gu-transit.section-template .template-handle{
  height: 10px;
}
.new-section .section-template{
  margin-top: 10px;
}
.property{
  margin-bottom: 10px;
  margin-top: 10px;
}
.small-input {
  width: 30px;
}

///////// content tab
.debug-text-area{
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 100px;
}

//////////// padding .property
.padding-property{
  .value-field{
    display: inline-block;
  }
}