@mixin no-selection-no-drag {
  webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
  user-drag: none;
}
.app-body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  @include no-selection-no-drag;
  *{
    @include no-selection-no-drag;
  }

  *[contenteditable],
  *[contenteditable] *,
  input,
  textarea,
  .debug pre{
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text; }
}



.toolbar {
  height: 60px;
  flex: none;
  .status{
    float: left;
    color: green;
    height: 60px;
    font-size: 20px;
    line-height: 60px;
    margin-left: 20px;
  }
  .toolbar-button{
    border-radius: 4px;
    background-color: #2199e8;
    float: right;
    height: 40px;
    font-size: 15px;
    line-height: 40px;
    margin-right: 20px;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: none;
    margin-top: 10px;
    color: white;
    padding: 0 16px;
  }
}

.email-builder{
  flex: 1;
  display: flex;
}
.email-preview{
  position: relative;
  display: none;
  flex: 1;
}
.preview-iframe{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.is-previewing{
  .email-builder{
    display: none;
  }
  .email-preview{
    display: block;
  }
}
.img-hidden{
  visibility: hidden !important;
  //position: absolute;
}

textarea.html-export{
  width: 100%;
  max-width: 100%;
  height: 200px;
}

@media only screen and (max-width: 600px) {
  .app-body {
    display: block;
  }
}


///////// vendor

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.gu-unselectable .tooltipster-base,
.no-tooltip .tooltipster-base,
.is-previewing .tooltipster-base{
  display: none;
}
.gu-transit{
  opacity: 1;
}
.gu-mirror{
  //opacity:.5;
}

.debug pre{
  height: 500px;
  overflow-y: scroll;
}