table.fixed-table{
  table-layout: fixed;
}
table.button table td a {
  display: block;
}
table.button{
  margin: 0;
  Margin: 0;
}
table.button table td{
  border-width: 2px !important;
}
.no-padding{
  padding: 0 !important;
}
html,
table.container,
table.body{
  background: transparent;
}