<div class="inspector resetable">
  <div id="properties" ng-if="inspctVM.element">
    <div id="layout-properties">
      <background-property element="inspctVM.element"></background-property>
      <border-property element-style="inspctVM.element.style"></border-property>
      <margin-property element-style="inspctVM.element.style"></margin-property>
      <padding-property element-style="inspctVM.element.style"></padding-property>
    </div>
    <div ng-if="inspctVM.element.type==='img'" id="image-properties">
      <h5>Image properties</h5>
      <p class="property image">
        <label>
          Url <input type="text" ng-model="inspctVM.element.src">
        </label>
      </p>
    </div>
  </div>
  <div id="add-elements">
    <h3 class="inspector--heading-3">Add Elements</h3>
    <div class="new-elements"
        dragula="'elements-bag'"
        dragula-scope="$parent"
        dragula-model='inspctVM.templates'
    >
      <div class="template-wrapper" ng-repeat="template in inspctVM.templates">
        <span class="template-handle">{{template.type}}</span>
      </div>
    </div>
    <br>
    <div class="new-section"
        dragula="'sections-bag'"
        dragula-scope="$parent"
        dragula-model='inspctVM.sectionTemplate'
    >
      <div class="template-wrapper" ng-repeat="template in inspctVM.sectionTemplate">
        <span class="template-handle section-template-handle">section</span>
      </div>
    </div>
  </div>
</div>
