<div id="page-123ashd" class="page highlight--inside" highlight-on-hover ng-style="page.style"
    ng-class="{'level-matches': pageVM.hoveredLevel === 0}"
    ng-click="pageVM.onElementClick(page, $event)">
  <div class="page-inner email-builder-body">
    <!-- email body -->
    <table class="body"><tr> <td class="center" align="center" valign="top">
      <!-- section -->
      <div class="wrap-ink-container highlight--exactly" highlight-on-hover
          ng-repeat="section in page.sections"
          ng-class="{'level-matches': pageVM.hoveredLevel === 1}"
          ng-click="pageVM.onElementClick(section, $event)"
          >
        <table class="container section highlight--exactly">
          <tr><td> <table class="row" ng-style="section.style"> <tr>
          <!-- cell -->
          <td class="wrapper"
              ng-repeat="element in section.elements" ng-class="{'last':$last}">
            <table class="six columns"> <tr>
              <td class="element highlight--exactly"
                  highlight-on-hover ng-style="element.style"
                  ng-class="{'level-matches': pageVM.hoveredLevel === 2}"
                  ng-click="pageVM.onElementClick(element, $event)">
                <div><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci assumenda corporis cumque dolor explicabo ipsum iste laudantium magnam mollitia nesciunt possimus reiciendis tenetur, velit? Reprehenderit suscipit tempore vitae. Ducimus, nisi?</p></div>
              </td>
              <td class="expander"></td>
            </tr> </table> </td>
          <!-- /cell -->
        </tr> </table> </td> </tr> </table>
      </div>
      <!-- /section -->

    </center> </td> </tr> </table><!-- /email body -->

    <p>{{pageVM.hoveredLevel}}</p>
  </div>
</div>